body{
    background-color: #051D3B;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 1024px;
}

header{
    display: flex;
    flex-direction: row;
    margin-top: 1.4rem;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}
.box-dev-logo{
    background-color: aliceblue;
    border-radius: 0.2rem;
    width: 3.5rem;
    text-align: center;
}

.search input{
    margin-left: 12rem;
    width: 35rem;
    height: 2rem;
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    color: white;
    
}

.search form{
    opacity: 0.5;
}

.perfis{
    border: 1px solid white;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    margin-left: 19rem;
    border-radius: 4rem;
}

.namePerson{
    margin-left: 0.6rem;
    padding-top: 0.4rem;
    color: #FFFFFF;
}